.footer {
    border-top: 2px solid var(--theme-fg-most);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer > * {
    /* top, right, bottom, left */
    padding: 0.1em 0.4em 0.3em 0.4em;
    color: var(--theme-fg-most);
}