/* Fonts */

@font-face {
  font-family: Readex Pro;
  src: url("/fonts/ReadexPro-Medium.ttf");
  font-weight: normal;
}

@font-face {
  font-family: Readex Pro;
  src: url("/fonts/ReadexPro-bold.ttf");
  font-weight: bold;
}

/* Shared Theme */

:root {
  --theme-green: #E6FECC;
  --theme-green-alt: #80C080;
  --theme-fg-most: #000000;
  --theme-bg-medium: #FFFFFF;
  --theme-bg-more: #666666;
  --theme-bg-most: #404040;
}

a {
  text-decoration: none;
}

/* Essential Page Setup */

html, body {
  padding: 0;
  margin: 0;
  font-family: Readex Pro, sans-serif;
  font-size: 16pt;
  color: var(--theme-fg-most);
  background-color: var(--theme-bg-medium);
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0.1em;
  width: fit-content;
  font-weight: normal;
}

h2 {
  color: var(--theme-green);
}

/* Fixes */

/*
 Remove browser styling for buttons.
 https://stackoverflow.com/a/45890842/3116659
 */
button, input[type="button"], input[type="submit"], input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}